﻿body {margin:0; padding:0; font-family:"Bell MT"; background:url('images/background.jpg'); background-size:100%;  background-repeat:no-repeat;}

@media handheld {
	body {margin:0; padding:0; font-family:"Bell MT"; background:url('images/background.jpg'); background-size:50%; background-repeat:no-repeat;}
}


/*====================================================================================================================================================================================
	BODY FORMATTING
====================================================================================================================================================================================*/

div#bookHeader h1 {font-family:"Bell MT"; font-size:x-large; color:teal;}

div#bookBody h1 {font-family:"Bell MT"; font-size:x-large; color:teal;}

div#bookBody h4 {font-family:"Bell MT"; font-size:medium; color:teal;}

div#bookBody p {font-family:"Bell MT"; font-size:small;}

a {color:black; text-decoration:none;}

hr {border-style:solid; border-color:#82D0CC;}

/*====================================================================================================================================================================================
	VISUAL-AID FORMATTING
====================================================================================================================================================================================*/

/*
div {border: solid red 1px;}
nav {border: solid blue 1px}
footer {border:solid green 1px}
header {border: solid purple 1px}
*/

/*====================================================================================================================================================================================
	MAIN CONTAINER DIVs
====================================================================================================================================================================================*/

div#content {position:fixed; left:8%; right:8%; top:0; height:100%;}

div#textArea {position:fixed; overflow-y:scroll; left:33%; top:20.5%; width:54%; bottom:9%; background-color:white; z-index:2;}

div#textBackground {position:fixed; left:32%; top:18%; width:56%; bottom:7%; box-shadow: 2px 2px 20px black; background-color:#82D0CC; z-index:1}

div#bookHeader {position:fixed; left:60%; width:15%; height:10%; top:22%; z-index:3; line-height:20px; text-align:center; color:teal; font-size:small;}

div#bookBody {position:fixed; left:33%; top:20.5%; width:54%; bottom:9%; z-index:3;}

div#bookForm {position:fixed; left:33%; top:22.5%; z-index:3;}


/*====================================================================================================================================================================================
	OTHER CONTAINER DIVs
====================================================================================================================================================================================*/

div#logo {position:fixed; left:10.5%; top:1%; width:20%; font-family:"Bell MT"; font-size:130%; text-align:center; color:white; line-height:1px;}

div#logo img{max-width:100%;}

div#ribbon {position:fixed; right:14.5%; top:18%; z-index:4; width:6%;}

div#ribbon img {width:100%; margin-top:-28%;}

header#aboutUs {position:fixed; left:35%; top:1%; right:15%; height:10.5%; margin-top:-1%; z-index:1; color:white; font-size:large;}

nav {position:fixed; left:32%; top:10%; width:56%; height:18%; z-index:1;}

footer {position:fixed; left:10.5%; right:10.5%; bottom:1%; height:5%; font-size:medium; text-align:center; color:white;}



/*====================================================================================================================================================================================
	GALLERY & THUMBNAIL FORMATTING
====================================================================================================================================================================================*/

div#gallery {position:fixed; overflow-y:scroll; left:10.5%; top:37%; width:20%; height:55%; align-items:center; background-color:tan; box-shadow: 1px 1px 20px black;}

div#gallery img {max-width:75%; margin-left:12%; margin-top:3%; margin-bottom:3%; box-shadow: 10px 10px 20px gray; cursor:pointer;}

div#thumbnail {position:fixed; background-color: #000000; width:100%; height:100%; z-index:4; opacity:0.85; visibility:hidden;}

div#thumbnailPhoto {position:fixed; z-index:4; width:50%; height:640px; left:25%; visibility:hidden;}

div#thumbnailControls {position:fixed; z-index:4; color:white; font-size:xx-large; visibility:hidden;}

div#controlLEFT {position:fixed; left:25%; height:15%; top:42.5%; visibility:hidden; cursor:pointer;}

div#controlRIGHT {position:fixed; right:24.8%; height:15%; top:42.5%; visibility:hidden; cursor:pointer;}

div#controlCLOSE {position:fixed; right:1%; cursor:pointer; font-family:Arial; margin-top:-2%; visibility:hidden;}



/*====================================================================================================================================================================================
	NAVIGATION BUTTONS
====================================================================================================================================================================================*/

div#propertyButton {position:fixed; text-align:center; line-height:10px; left:33%; top:12%; width:6%; height:6%; background-color:#99CAFB; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#propertyButton:hover {background-color:#278FF8;}

/*==========================================================*/

div#mapButton {position:fixed; text-align:center; line-height:10px; left:39.5%; top:12%; width:6%; height:6%; background-color:#FF8380; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#mapButton:hover {background-color:#FF2520;}

/*==========================================================*/

div#localButton {position:fixed; text-align:center; line-height:10px; left:46%; top:12%; width:6%; height:6%; background-color:#A7E09E; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#localButton:hover {background-color:#48B039;}

/*==========================================================*/

div#regButton {position:fixed; text-align:center; line-height:10px; left:52.5%; top:12%; width:6%; height:6%; background-color:#FFE680; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#regButton:hover {background-color:#FFD015;}

/*==========================================================*/

div#contactButton {position:fixed; text-align:center; line-height:10px; left:59%; top:12%; width:6%; height:6%; background-color:#FFCC80; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#contactButton:hover {background-color:#EA8C00;}

/*==========================================================*/

div#guestbookButton {position:fixed; text-align:center; line-height:10px; left:65.5%; top:12%; width:6%; height:6%; background-color:#EB94DE; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#guestbookButton:hover {background-color:#D926BE;}

/*==========================================================*/

div#bookButton {position:fixed; text-align:center; line-height:10px; left:72%; top:12%; width:6%; height:6%; background-color:#82D0CC; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#bookButton:hover {background-color:#3FA9A4;}

div#bookHighlight {position:fixed; text-align:center; line-height:10px; left:72%; top:12%; width:6%; height:6%; background-color:#3FA9A4; color:white; box-shadow: 1px 1px 20px black;}

/*==========================================================*/

div#galleryButton {position:fixed; left:12%; top:31%; height:6%; width:6%; font-family:"Bell MT"; text-align:center; line-height:10px; background-color:tan; box-shadow: 1px 1px 20px black;}



/*====================================================================================================================================================================================
	IMAGES
====================================================================================================================================================================================*/

img.photoH {width:80%; margin-top:15%; margin-left:10%;}

img.photoV {width:60%; margin-left:20%; margin-top:7.5%;}



/*====================================================================================================================================================================================
	FORM CONTAINERS & INPUTS
====================================================================================================================================================================================*/

div#bookForm {position:fixed; left:34%; height:60%; width:18%; top:22%; z-index:3; background-color:#82D0CC; border-top: solid teal 10px; font-size:small; padding:1%;}

div#priceText {position:absolute; left:5%; height:10%; bottom:15%; width:45%; color:black; font-size:110%; color:teal; font-weight:bold;}

div#totalCost {position:absolute; left:100%; top:0; height:100%; bottom:15%; width:75%; color:black; font-size:150%; z-index:3; line-height:200%; border-bottom: solid teal 1px; color:teal;}

input[id=bookRequest] {position:absolute; height:10%; bottom:2%; right:25%; width:50%; cursor:pointer;}

select#calendarMonth {position:absolute; visibility:visible; height:50%; width:25%; left:5%; top:12.5%;}

label {font-size:110%; color:teal; font-weight:bold;}

label#forename {position:absolute; height:5%; top:20%; left:5%;}

input[name=forename] {position:absolute; height:5%; top:24%; left:5%; border:none}

label#surname {position:absolute; height:5%; top:31%; left:5%;}

input[name=surname] {position:absolute; height:5%; top:35%; left:5%; border:none}

label#email {position:absolute; height:5%; top:42%; left:5%;}

input[name=email] {position:absolute; height:5%; top:46%; left:5%; border:none}

label#dateSelect {position:absolute; height:5%; top:53%; left:5%;}

input[name=dateSelect] {position:absolute; height:5%; top:57%; left:5%; border:none}

label#duration {position:absolute; height:5%; top:64%; left:5%;}

input[name=duration] {position:absolute; height:5%; top:68%; left:5%; width:35%; border:none}



/*====================================================================================================================================================================================
	CALENDAR
====================================================================================================================================================================================*/

div#calendar {position:fixed; left:55.75%; width:28.5%; height:54%; top:34%; z-index:3; font-family:"Arial";}

div#calendarHeader {position:fixed; left:55.75%; width:28.5%; height:10%; top:34%; z-index:3; background-color:#82D0CC; border-top: solid teal 10px}

div#day1, div#day8, div#day15, div#day22, div#day29, div#day36 {left:56.25%;}
div#day2, div#day9, div#day16, div#day23, div#day30, div#day37 {left:60.25%;}
div#day3, div#day10, div#day17, div#day24, div#day31, div#day38 {left:64.25%;}
div#day4, div#day11, div#day18, div#day25, div#day32, div#day39 {left:68.25%;}
div#day5, div#day12, div#day19, div#day26, div#day33, div#day40 {left:72.25%;}
div#day6, div#day13, div#day20, div#day27, div#day34, div#day41 {left:76.25%;}
div#day7, div#day14, div#day21, div#day28, div#day35, div#day42 {left:80.25%;}

div#week1 {position:fixed; left:55.75%; width:28.5%; height:8%; top:43%; z-index:3; background-color:#C0E8E6}

div#week2 {position:fixed; left:55.75%; width:28.5%; height:8%; top:50%; z-index:3; background-color:#C0E8E6}

div#week3 {position:fixed; left:55.75%; width:28.5%; height:8%; top:57%; z-index:3; background-color:#C0E8E6}

div#week4 {position:fixed; left:55.75%; width:28.5%; height:8%; top:64%; z-index:3; background-color:#C0E8E6}

div#week5 {position:fixed; left:55.75%; width:28.5%; height:8%; top:71%; z-index:3; background-color:#C0E8E6}

div#week6 {position:fixed; left:55.75%; width:28.5%; height:8%; top:78%; z-index:3; background-color:#C0E8E6}

div#keyColour1 {position:absolute; left:40%; top:12.5%; height:25%; width:14%; z-index:5; background-color:white; border: solid teal 2px; font-size:small; line-height:250%; color:teal;}

div#keyColour2 {position:absolute; left:60%; top:12.5%; height:25%; width:15.5%; z-index:5; background-color:#82D0CC; border: solid teal 2px; font-size:small; line-height:250%; color:teal;}

div#keyColour3 {position:absolute; left:81.5%; top:12.5%; height:25%; width:14%; z-index:5; background-color:#3FA9A4; border: solid teal 2px; font-size:small; line-height:250%; color:teal;}



/*====================================================================================================================================================================================
	CALENDAR CLASSES
====================================================================================================================================================================================*/

div.availableDay {background-color:white; color:black;}

div.acceptedDay {background-color:#82D0CC; color:black;}

div.unavailableDay {background-color:#3FA9A4; color:white;}

div.currentDay {color:teal; font-weight:bold; text-decoration:underline;}

div.week1 {position:fixed; width:3.5%; height:6%; top:44%; z-index:3; text-align:center; line-height:250%;}

div.week2 {position:fixed; width:3.5%; height:6%; top:51%; z-index:3; text-align:center; line-height:250%;}

div.week3 {position:fixed; width:3.5%; height:6%; top:58%; z-index:3; text-align:center; line-height:250%;}

div.week4 {position:fixed; width:3.5%; height:6%; top:65%; z-index:3; text-align:center; line-height:250%;}

div.week5 {position:fixed; width:3.5%; height:6%; top:72%; z-index:3; text-align:center; line-height:250%;}

div.week6 {position:fixed; width:3.5%; height:6%; top:79%; z-index:3; text-align:center; line-height:250%;}



/*====================================================================================================================================================================================
	PYTHON VARIABLE DIVs
====================================================================================================================================================================================*/

div#dateListDiv {visibility:hidden;}

div#confirmListDiv {visibility:hidden;}