﻿body {margin:0; padding:0; font-family:"Bell MT"; background:url('images/background.jpg'); background-size:100%;  background-repeat:no-repeat;}

@media handheld {
	body {margin:0; padding:0; font-family:"Bell MT"; background:url('images/background.jpg'); background-size:50%; background-repeat:no-repeat;}
}



/*====================================================================================================================================================================================
	BODY FORMATTING
====================================================================================================================================================================================*/

div#contactBody h1 {font-family:"Bell MT"; font-size:x-large; color:#EA8C00;}

a {color:black; text-decoration:none;}

hr {border-style:solid; border-color:#FFCC80;}


/*====================================================================================================================================================================================
	VISUAL-AID FORMATTING
====================================================================================================================================================================================*/

/*
div {border: solid red 1px;}
nav {border: solid blue 1px}
footer {border:solid green 1px}
header {border: solid purple 1px}
*/


/*====================================================================================================================================================================================
	MAIN CONTAINER DIVs
====================================================================================================================================================================================*/

div#content {position:fixed; left:8%; right:8%; top:0; height:100%;}

div#textArea {position:fixed; overflow-y:scroll; left:33%; top:20.5%; width:54%; bottom:9%; background-color:white; z-index:2;}

div#textBackground {position:fixed; left:32%; top:18%; width:56%; bottom:7%; box-shadow: 2px 2px 20px black; background-color:#FFCC80; z-index:1}

div#contactBody {position:fixed; left:33%; top:20.5%; width:46.5%; bottom:9%; z-index:3; padding-left:2.5%; padding-right:5%; overflow-y:scroll; font-size:small;}


/*====================================================================================================================================================================================
	OTHER CONTAINER DIVs
====================================================================================================================================================================================*/

div#logo {position:fixed; left:10.5%; top:1%; width:20%; font-family:"Bell MT"; font-size:130%; text-align:center; color:white; line-height:1px;}

div#logo img{max-width:100%;}

div#ribbon {position:fixed; right:14.5%; top:18%; z-index:4; width:6%;}

div#ribbon img {width:100%; margin-top:-28%;}

header#aboutUs {position:fixed; left:35%; top:1%; right:15%; height:10.5%; margin-top:-1%; z-index:1; color:white; font-size:large;}

nav {position:fixed; left:32%; top:10%; width:56%; height:18%; z-index:1;}

footer {position:fixed; left:10.5%; right:10.5%; bottom:1%; height:5%; font-size:medium; text-align:center; color:white;}



/*====================================================================================================================================================================================
	GALLERY & THUMBNAIL FORMATTING
====================================================================================================================================================================================*/

div#gallery {position:fixed; overflow-y:scroll; left:10.5%; top:37%; width:20%; height:55%; align-items:center; background-color:tan; box-shadow: 1px 1px 20px black;}

div#gallery img {max-width:75%; margin-left:12%; margin-top:3%; margin-bottom:3%; box-shadow: 10px 10px 20px gray; cursor:pointer;}

div#thumbnail {position:fixed; background-color: #000000; width:100%; height:100%; z-index:4; opacity:0.85; visibility:hidden;}

div#thumbnailPhoto {position:fixed; z-index:4; width:50%; height:640px; left:25%; visibility:hidden;}

div#thumbnailControls {position:fixed; z-index:4; color:white; font-size:xx-large; visibility:hidden;}

div#controlLEFT {position:fixed; left:25%; height:15%; top:42.5%; visibility:hidden; cursor:pointer;}

div#controlRIGHT {position:fixed; right:24.8%; height:15%; top:42.5%; visibility:hidden; cursor:pointer;}

div#controlCLOSE {position:fixed; right:1%; cursor:pointer; font-family:Arial; margin-top:-2%; visibility:hidden;}



/*====================================================================================================================================================================================
	NAVIGATION BUTTONS
====================================================================================================================================================================================*/

div#propertyButton {position:fixed; text-align:center; line-height:10px; left:33%; top:12%; width:6%; height:6%; background-color:#99CAFB; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#propertyButton:hover {background-color:#278FF8;}

/*==========================================================*/

div#mapButton {position:fixed; text-align:center; line-height:10px; left:39.5%; top:12%; width:6%; height:6%; background-color:#FF8380; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#mapButton:hover {background-color:#FF2520;}

/*==========================================================*/

div#localButton {position:fixed; text-align:center; line-height:10px; left:46%; top:12%; width:6%; height:6%; background-color:#A7E09E; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#localButton:hover {background-color:#48B039;}

/*==========================================================*/

div#regButton {position:fixed; text-align:center; line-height:10px; left:52.5%; top:12%; width:6%; height:6%; background-color:#FFE680; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#regButton:hover {background-color:#FFD015;}

/*==========================================================*/

div#contactButton {position:fixed; text-align:center; line-height:10px; left:59%; top:12%; width:6%; height:6%; background-color:#FFCC80; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#contactButton:hover {background-color:#EA8C00;}

div#contactHighlight {position:fixed; text-align:center; line-height:10px; left:59%; top:12%; width:6%; height:6%; background-color:#EA8C00; box-shadow: 1px 1px 20px black; color:white;}

/*==========================================================*/

div#guestbookButton {position:fixed; text-align:center; line-height:10px; left:65.5%; top:12%; width:6%; height:6%; background-color:#EB94DE; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#guestbookButton:hover {background-color:#D926BE;}

/*==========================================================*/

div#bookButton {position:fixed; text-align:center; line-height:10px; left:72%; top:12%; width:6%; height:6%; background-color:#82D0CC; box-shadow: 1px 1px 20px black; cursor:pointer;}

div#bookButton:hover {background-color:#3FA9A4;}

/*==========================================================*/

div#galleryButton {position:fixed; left:12%; top:31%; height:6%; width:6%; font-family:"Bell MT"; text-align:center; line-height:10px; background-color:tan; box-shadow: 1px 1px 20px black;}



/*====================================================================================================================================================================================
	IMAGES
====================================================================================================================================================================================*/

img.photoH {width:80%; margin-top:15%; margin-left:10%;}

img.photoV {width:60%; margin-left:20%; margin-top:7.5%;}